*{
    box-sizing: border-box;
}
body{
    /* background-image: url("../img/back4.jpg"); */
    /* height: 500px; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.button{
    border: none;
    background: transparent;
    color:green
}
.remove{
    color: red;
}
footer{
    height:10vh;
    position: sticky;
    bottom: 0;
}
.konami{
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;
}

  .modileMenu {
      display: none;
      /* color: white; */
  }
.alert{
    margin-left:0 0.5em;
}
a{
    color:black
}
.home{
    max-width: 75%;
    margin: auto;
}
#slide{    
    margin-bottom: 1em;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav div a{
    padding: 0.5em;
}
.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
img{
    max-width: 100%;
}
#stagiaire_birth,#session_date_debut,#session_date_fin,#vacances_date_debut,#vacances_date_fin{
    display: flex;
    flex-direction: row;
    
}
#stagiaire_birth :nth-child(1),#session_date_debut :nth-child(1) ,#session_date_fin :nth-child(1),#vacances_date_debut :nth-child(1),#vacances_date_fin :nth-child(1){ order: 2; }
#stagiaire_birth :nth-child(2),#session_date_debut :nth-child(2),#session_date_fin :nth-child(2),#vacances_date_debut :nth-child(2),#vacances_date_fin :nth-child(2) { order: 3; }
#stagiaire_birth :nth-child(3),#session_date_debut :nth-child(3) ,#session_date_fin :nth-child(3),#vacances_date_debut :nth-child(3),#vacances_date_fin :nth-child(3){ order: 1; }


.wrapper{
    /* max-width: 75%; */
    margin: auto;
    
}
.table{
    /* max-width: 75%; */
    margin: auto;
    background:rgb(220,220,220,0.8);
}
.stagiaire{
    background: rgb(220,220,220,0.8) !important;
    color: white;
    /* max-width: 50%; */
    margin: auto;
    padding: 1em;
    /* margin-top: 3em; */
}
.stagiaire a{
    color:white;
}
.title_cat{
    background: #aaa;
    text-align: center;
}
.listMod{
    max-width: 35%;
    margin: auto;
    margin-bottom: 1em;
    text-align: center;

}
.creaProg{
    justify-content: space-around;
}
.photo{
    width: 100px;
}
.center{
    max-width: 50%;
    margin: auto;
}
.avatar{
    display: inline-block;
    width: 100px;
}
.title_sess{
    width: 70%;
    margin-top:1em;
}
.list_stagiaires{
    width: 50%;
}
.prog{
    background: rgb(220,220,220,0.8);
}
.prog div:nth-child(2){
    width: 50%;
}
.prog div{
    margin: auto;
}

.info_sess{
    max-width: 50%;
}
.modalButton{
    border: none;
    background: transparent;
}
.trombi{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.trombiStag{
    width: 25%;
    margin: 0.5em;
    background:rgb(220,220,220,0.8);
    padding: 1em;
}
.prev{
    width: 35%;
    height: 280px;
    overflow: hidden;
    margin: auto;
}
.liststag{
    padding: 0.5em;
    width: 100%;

}
.list_stag{
    justify-content: space-between;
    flex-wrap: wrap;
}
/* .list_stag .form-group{
    width: 33.3% !important;
} */
.mod_list{
    flex-wrap: wrap;
    flex: 0;
    justify-content: space-between;
}
.crea_prog{
    background: rgb(220,220,220,0.8);
    padding: 1em;
    margin: auto;
    margin-top: 1em;
}
#programme_module,#module_categorie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.form-check{
    margin-right: 1em;
}
.between{
    justify-content: space-between;
}
.between >div{
    background: rgb(220,220,220,0.8);
    padding: 1em;
}
.hidden-row{
    display: none;
}
.complet,.errors{
    color: red;
}
.error{
    color: red;
}
.reste,.success{
    color : rgb(0,180,0);
    
}
.succes{
    color : rgb(0,180,0);
}
#success, .errors{
    display: flex;
    justify-content: space-around;
}
form[name="session"]{
    width: 50%;
    margin: auto;
}
.affich_session{
    justify-content: space-around;
}
.programme{
    flex: 1;
    margin-right: 1em;
}
form[name="add_stagiaire"]{
    background:rgb(220,220,220,0.8);
}
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 12px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  .modules_tab{
      max-width: 50%;
  }
  .cat_title{
      background: #aaa;
  }
  .photo_input{
      width: 20%;
  }
  .custom-file-label{
    width: 0%;
  }
  .custom-file{
    width: 30%;
  }
  form[name="stagiaire"]{
      background: rgb(220,220,220,0.8);
      padding: 1em;
  }
  .flex_form{
        display: flex;
        justify-content: space-around;
        /* width: 50%; */
    }
  
@media screen and (max-width: 640px) {
    .modules_tab{
        max-width: 100%;
    }
    .flex {
      flex-direction: column;
    }
    .list_stag{
        flex-direction: row;
    }
    .crea_sess{
        margin: 0 !important;
        margin-bottom: 0.5em !important;
    }
    #slide{
        display: none;
        max-width: 500px ;
        right: 0;
        top: 5em;
        z-index: 2; 
    }
    .flex_form{
        color: white;
        width: 50%;
    }
    nav{        
        display: none;
        flex-direction: column;
        height: auto;
        position: fixed;
        width: 100%;
        z-index: 1;
    }
    nav div{
        width: 50%;
        margin: auto;
        height: auto;
    }
    nav div a{
        display: inline-block;
        padding: 1em;
        margin-bottom: 1em;
        width: 100%;
    }
    header .modileMenu {
        display: block;
        position: fixed;
        right: 1em;
        font-size: 2em;
        z-index: 2;
    }
    .stagiaire{
        width: 100% !important;
        margin: 0;
    }
  }
