*{
    box-sizing: border-box;
}.flex{
    display: flex;
    justify-content: space-around;
}
img{
    max-width: 100%;
}
.wrapper{
    max-width: 75%;
    margin: auto;
}
.table{
    /* max-width: 75%; */
    margin: auto;
    margin-top: 3em;
}
.stagiaire{
    background: blue;
    color: white;
    max-width: 50%;
    margin: auto;
    padding: 1em;
    margin-top: 3em;
}
.stagiaire a{
    color:white;
}
.title_cat{
    background: #aaa;
    text-align: center;
}