*{
    box-sizing: border-box;
}.flex{
    display: flex;
    justify-content: space-around;
}
img{
    max-width: 100%;
}
.wrapper{
    max-width: 75%;
    margin: auto;
}
.table{
    /* max-width: 75%; */
    margin: auto;
    margin-top: 3em;
}
.stagiaire{
    background: blue;
    color: white;
    /* max-width: 50%; */
    margin: auto;
    padding: 1em;
    /* margin-top: 3em; */
}
.stagiaire a{
    color:white;
}
.title_cat{
    background: #aaa;
    text-align: center;
}
.photo{
    width: 100px;
}
.avatar{
    display: inline-block;
    width: 100px;
}
.prog div:first-child{
    flex:1;
    max-width: 800px;
}
.prog div:nth-child(2){
    flex:0;
}
.modalButton{
    border: none;
    background: transparent;
}
.trombi{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.trombiStag{
    width: 25%;
}
.prev{
    width: 100px;
    margin: auto;
}
